@use '../utils/variables';
@use '../utils/mixins';

/**=====================
    Dropdown CSS Start
==========================**/
.dropdown-basic {
  margin-bottom: -10px;

  .btn-group {
    margin-right: 18px;

    .btn-round {
      border-radius: 50px;
    }
  }

  .separated-btn {
    margin-left: -6px;

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 10px;
    }
  }

  button {
    max-height: 43px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;

    .dropbtn {
      color: variables.$white;
      padding: 12px 35px;
      border: none;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: variables.$light-shade-silver;
      min-width: 175px;
      box-shadow: 0px 8px 16px 0px rgba(variables.$black, 0.2);
      z-index: 1;
      left: 0;
      top: 45px;

      a {
        color: variables.$black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-header {
        padding: 12px 16px;
      }
    }
  }

  .dropdown-content a:hover {
    background-color: variables.$light-silver;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.dropup-basic {
  .dropup {
    position: relative;
    display: inline-block;

    .dropbtn {
      color: variables.$white;
      padding: 12px;
      border: none;
    }

    .dropup-content {
      display: none;
      position: absolute;
      background-color: variables.$light-shade-silver;
      min-width: 170px;
      bottom: 45px;
      z-index: 999;
      left: 0;

      a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    }
  }

  .dropup .dropup-content a:hover {
    background-color: variables.$light-silver;
  }

  .dropup:hover .dropup-content {
    display: block;

    a {
      &.active {
        background-color: variables.$light-silver;
      }
    }
  }
}

.quick-dropdown-box {
  .dropdown-toggle {
    &:hover {
      border: 1px solid var(--theme-color) !important;
      color: var(--theme-color) !important;
      background-color: transparent !important;
      color: var(--theme-color);
    }

    &::after {
      content: '\ea4e';
      @include mixins.font;
      border: 0;
      vertical-align: unset;
      margin: 0;
      line-height: 1;
      font-size: 17px;
    }
  }

  .dropdown-menu {
    border-radius: 0;
    border: 1px solid #eee;

    body.dark-only & {
      background-color: #0b141d;
      border-color: #404040;
    }

    .dropdown-title {
      padding: 18px;
      border-bottom: 1px solid #eee;

      body.dark-only & {
        border-color: #404040;
      }

      h4 {
        body.dark-only & {
          color: #ddd;
        }
      }
    }

    .dropdown-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 350px;
      text-align: center;

      li {
        &:nth-child(odd) {
          border-right: 1px solid #eee;

          body.dark-only & {
            border-color: #404040;
          }
        }
      }

      a {
        display: grid;
        padding: 8px 12px;
        border-top: unset;
        opacity: 1;
        border-bottom: 1px solid #eee;

        body.dark-only & {
          background-color: #0b141d;
          border-color: #404040;
        }

        i {
          width: 40px;
          height: 40px;
          border: 1px solid #eee;
          background-color: #f8f8f8;
          border-radius: 100%;
          @include mixins.flex_common;
          font-size: 16px;
          margin-inline: auto;
          margin-bottom: 10px;

          body.dark-only & {
            border-color: #404040;
            background-color: #1c2128;
          }
        }

        span {
          body.dark-only & {
            color: #ddd;
          }
        }
      }
    }
  }
}