@use "sass:color";
@use '../utils/variables';

/**=====================
    Typography css start
==========================**/
/* Custom css Start */
body {
  font-size: variables.$body-font-size;
  overflow-x: hidden;
  font-family: variables.$public-sans;
  color: variables.$theme-body-font-color;
  background-color: #f8f8f8;
}

ul {
  padding-left: variables.$ul-padding-left;
  list-style-type: none;
  margin-bottom: 0;
}

* a {
  color: var(--theme-color);
  text-decoration: none;
  letter-spacing: 1px;
}

a {
  &:hover {
    text-decoration: none;
    color: var(--theme-color);
  }

  &[class*='badge-'] {
    &:hover {
      color: variables.$white;
    }
  }
}

.btn {
  font-size: 14px;
}

*.btn:focus {
  box-shadow: variables.$btn-focus-box-shadow !important;
}

p {
  font-size: variables.$paragraph-font-size;
  line-height: variables.$paragraph-line-height;
  letter-spacing: variables.$paragraph-letter-spacing;
}

.form-control {
  padding: 8px 20px;
}

.form-select {
  &:focus {
    box-shadow: none;
    border-color: #ced4da;
  }
}

code {
  color: variables.$code-tag-color !important;
  background-color: variables.$code-tag-bg-color;
  padding: variables.$code-tag-padding;
  margin: variables.$code-tag-margin;
  border-radius: variables.$code-tag-border-radious;
}

.media {
  display: flex;
  align-items: flex-start;

  .media-body {
    flex: 1;
  }
}

blockquote {
  border-left: variables.$blockquote-border;
  padding: variables.$blockquote-padding;
}

.figure {
  &.text-center {
    blockquote {
      border: none !important;
    }
  }

  &.text-end {
    blockquote {
      border-left: none !important;
      border-right: variables.$blockquote-border;
    }
  }
}

.row {
  >div {
    position: relative;
  }
}

:focus {
  outline-color: variables.$all-focus-outline-color;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

svg {
  vertical-align: baseline;
}

input {
  &:focus {
    outline-color: variables.$transparent-color;
  }
}

label {
  margin-bottom: 0.5rem;
}

.media-widgets {
  .media-body {
    margin-bottom: 30px;
  }
}

/* Typography css start */
h1 {
  font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  line-height: 1.1;
  text-transform: capitalize;
  margin: 0;
}

h2 {
  font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
  margin: 0;
}

h3 {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

h4 {
  font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
}

h5 {
  font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
}

h6 {
  font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
  line-height: 1.2;
  margin: 0;
  font-weight: 400;
}

span {
  display: inline-block;
}

.theme-color {
  color: var(--theme-color) !important;
}

.theme-bg-color {
  background-color: var(--theme-color);
}

.typography {

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin: 20px 0;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small {
    padding-left: variables.$small-tag-padding;
    color: variables.$small-tag-color;
  }
}

pre {
  background-color: variables.$pre-tag-bg-color;
  padding: variables.$pre-tag-padding;
}

.owl-theme {
  .owl-dots {
    .owl-dot {
      span {
        background-color: color.adjust(variables.$primary-color, $lightness: 20%);
      }

      &.active,
      &:hover {
        span {
          background: var(--theme-color);
        }
      }
    }
  }

  .owl-nav {
    &.disabled {
      &+.owl-dots {
        margin-bottom: -10px;
        margin-top: 25px;
      }
    }
  }
}

.click2edit {
  &~.note-editor {
    &.note-frame {
      margin-bottom: 30px;
    }
  }
}

.note-editor {
  &.note-frame {
    border-color: variables.$light-color;
  }
}

.note-editor {
  &.note-frame {
    border-color: variables.$light-color;
  }
}

.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.card {
  border-radius: 0 !important;
}

/* modal page */
.modal {
  .modal-body {
    .card {
      box-shadow: none !important;
    }
  }
}

.modal-dialog {
  .modal-content {
    .modal-body {
      p {
        a {
          margin-right: 0;
        }
      }
    }
  }
}

/* index page notify */
.alert-theme {
  button {
    top: 25px !important;
    right: 20px !important;
    color: var(--theme-color);
  }

  [data-notify='title'] {
    display: none;
  }

  span {
    +span {
      +span {
        background-color: variables.$white;
        color: var(--theme-color);
        border-radius: 4px;
        box-shadow: 0 2px 14px -3px rgba(variables.$black, 0.2);
      }
    }
  }

  i {
    padding: 20px;
  }

  .progress {
    margin-top: -2px !important;
    height: 2px;
    width: 100%;

    .progress-bar {
      background-color: var(--theme-color);
    }
  }
}

.alert-copy {
  border: 1px solid var(--theme-color);
  line-height: 1;
  display: inline-block;
  width: 300px;
  color: variables.$white;
  background-color: var(--theme-color);

  .close {
    box-shadow: none;
    color: variables.$white;
    line-height: 1.4;
    font-weight: 100;

    &:focus {
      outline: none;
    }
  }
}

.ace-editor {
  height: 400px;
  width: 100%;
}

.editor-toolbar {
  width: 100% !important;

  &.fullscreen {
    z-index: 100;
  }
}

.fs-20 {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.CodeMirror {
  top: 0 !important;
}

.CodeMirror-fullscreen {
  top: 50px !important;
}

/* rangeslider */
.irs-from,
.irs-to,
.irs-single {
  background: var(--theme-color);

  &:after {
    border-top-color: var(--theme-color);
  }
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge {
  background-color: var(--theme-color);
}

/* sweetalert css */
.swal-button {
  background-color: var(--theme-color);

  &:active {
    background-color: color.adjust(variables.$primary-color, $lightness: -5%);
  }
}

.swal-button--cancel {
  background-color: variables.$silver-light !important;
}

.clipboaard-container {
  h6 {
    line-height: 1.6;
    font-size: variables.$paragraph-font-size;
  }
}

fieldset {

  .bootstrap-touchspin-postfix,
  .bootstrap-touchspin-prefix {
    border-radius: 0;
    padding: 0.4rem 0.75rem;
  }

  .input-group-lg {
    .touchspin {
      height: 50px;
    }
  }
}

.f1 {
  .f1-steps {
    .f1-step {
      .f1-step-icon {
        padding: 12px;
      }
    }
  }
}

.form-inline {
  .form-group {
    display: flex;
  }
}

.input-group-text {
  i {
    line-height: 1.5;
  }
}

/* animated modal css */
.animated-modal {
  .form-select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}