@use './../utils/variables';

/**=====================
     Nav CSS Start
==========================**/
#accordionoc {
  #collapseicon,
  #collapseicon1 {
    padding-top: 0px;
  }

  li {
    button {
      display: flex;
      align-items: center;
    }
  }
}

.navs-icon {
  padding: 30px;

  li {
    padding: 9px 0;

    a {
      color: variables.$theme-body-font-color;

      &:hover {
        color: var(--theme-color);
      }
    }

    ul {
      padding-top: 9px;
    }
  }
}

.onhover-dropdown {
  &.navs-dropdown {
    &:hover {
      .onhover-show-div {
        &:before,
        &:after {
          right: 77px;
          left: unset;
        }
      }
    }
  }
}

.icon-lists {
  font-family: variables.$font-rubik, variables.$font-serif;
}

.pl-navs-inline {
  padding-left: 30px !important;
}

.inline-nav {
  li {
    line-height: 1.3;
  }
}

.nav-tabs {
  .nav-link {
    border-radius: 0 !important;
  }
}
