@use '../utils/variables';
@use '../utils/mixins';
@use '../utils/breakpoints';

/**=====================
     Product CSS Start
==========================**/
.add-to-cart-box {
  background-color: #f8f8f8;
  border-radius: 50px;
  position: relative;

  .btn-add-cart {
    padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320))) 0;
    width: 100%;
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 10px;
    color: variables.$content-color;
    border-radius: 50px;
    font-weight: 500;

    i {
      @include mixins.center(vertical);
      @include mixins.flex_common;
      @include mixins.pseudowh($width: calc(30px + (37 - 30) * ((100vw - 320px) / (1920 - 320))),
        $height: calc(30px + (37 - 30) * ((100vw - 320px) / (1920 - 320))));
      background-color: variables.$inner-bg;
      border-radius: 100%;
      color: var(--theme-color);
      position: absolute;
      right: 5px;

      @include breakpoints.mq-max(xs) {
        display: none;
      }
    }
  }

  .qty-box {
    @include mixins.pseudowh;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: none;

    &.open {
      display: block;
    }

    .input-group {
      background-color: var(--theme-color);
      border-radius: 0;
      padding: 4px;
      text-align: center;
      z-index: 0;
      justify-content: space-between;

      button {
        @include mixins.pseudowh($width: calc(29px + (35 - 29) * ((100vw - 320px) / (1920 - 320))),
          $height: calc(29px + (35 - 29) * ((100vw - 320px) / (1920 - 320))));
        @include mixins.flex_common;
        border: none;
        padding: 0;
        background-color: var(--theme-color);
        z-index: 0;
        border-radius: 100% !important;
        position: relative;
        overflow: hidden;

        &::before {
          @include mixins.pos;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: variables.$white;
          opacity: 0.2;
          z-index: -1;
        }

        i {
          font-size: 13px;
          color: variables.$white;
          margin-top: 1px;
        }

        &:focus {
          box-shadow: none;
        }
      }

      input {
        height: auto;
        background-color: transparent;
        border: none;
        padding: 0;
        text-align: center;
        font-size: 14px;
        color: variables.$white;
      }
    }
  }
}

.product-box {
  padding: 14px;
  position: relative;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
  background-color: variables.$inner-bg;

  &:hover {
    box-shadow: 0 0 8px rgba(variables.$title-color, 0.08);

    .product-header {
      .product-image {
        .product-option {
          bottom: 10px;
          opacity: 1;
        }
      }
    }

    .product-header {
      .product-image {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  .product-header {
    position: relative;

    .product-image {
      text-align: center;
      padding: 20px;
      display: block;

      @include breakpoints.mq-max(xs) {
        padding: 8px;
      }

      img {
        @include mixins.pseudowh($width: 100%,
          $height: calc(100px + (140 - 100) * ((100vw - 320px) / (1920 - 320))));
        object-fit: contain;
        transition: all 0.3s ease-in-out;
      }

      .product-option {
        @include mixins.center(horizontal);
        @include mixins.flex_common($dis: flex, $align: center, $justify: space-between);
        position: absolute;
        bottom: -5px;
        background-color: variables.$white;
        width: 100%;
        padding: 10px 5px;
        border-radius: 7px;
        box-shadow: 0 0 8px rgba(variables.$title-color, 0.12);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        max-width: 230px;

        @include breakpoints.mq-max(xs) {
          display: none;
        }

        li {
          position: relative;
          width: 33.33%;

          a {
            color: variables.$title-color;

            .feather {
              @include mixins.pseudowh($width: 17px, $height: auto);
              color: variables.$content-color;
            }
          }

          +li {
            &:after {
              @include mixins.pos;
              @include mixins.pseudowh($width: 1px, $height: 100%);
              top: 0;
              left: 0;
              background-color: variables.$content-color;
              opacity: 0.3;

              [dir='rtl'] & {
                left: unset;
                right: 0;
              }
            }
          }
        }
      }
    }

    .product-header-top {
      @include mixins.flex_common($dis: flex, $align: center, $justify: space-between);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      [dir='rtl'] & {
        left: unset;
        right: 0;
      }

      .label-new {
        position: relative;
        border-radius: 4px;
        padding: 3px 8px;
        color: variables.$white;

        &.bg-warning {
          background: linear-gradient(-90deg, #ffbf65 -14.53%, #ffad39 99.15%) !important;
        }

        &.bg-theme {
          background: var(--theme-color2) !important;
        }

        label {
          font-size: 13px;
          margin-top: 1px;
          font-weight: 600;
        }
      }

      .wishlist-button {
        position: relative;
        padding: 6px;
        margin-left: auto;
        background-color: variables.$white;
        box-shadow: 0 3px 3px rgba(variables.$title-color, 0.24);
        border-radius: 100%;
        z-index: 0;

        [dir='rtl'] & {
          margin-left: unset;
          margin-right: auto;
        }

        .feather {
          @include mixins.pseudowh($width: 15px, $height: 15px);
          color: variables.$content-color;
        }
      }

      .close-button {
        position: relative;
        padding: 0;
        z-index: 0;

        .feather {
          @include mixins.pseudowh($width: 20px, $height: auto);
          color: variables.$content-color;
        }
      }
    }
  }

  .product-footer {
    .product-detail {
      .span-name {
        font-size: 13px;
        color: #50607c;
        margin-bottom: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
      }

      a {
        color: variables.$title-color;

        &:hover {
          color: variables.$title-color;
        }
      }

      .name {
        font-weight: 500;
        line-height: calc(21px + (24 - 21) * ((100vw - 320px) / (1920 - 320)));
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
      }

      .unit {
        font-size: 13px;
        font-weight: 500;
        margin-top: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
        color: #777;
      }
    }

    .price {
      margin-top: 6px;
      font-weight: 600;
    }
  }
}

.product-category-option {
  .custom-select {
    .select2 {
      .select2-selection {
        min-height: 50px !important;
        height: 100% !important;
        display: flex !important;
        align-items: center;
        justify-content: center;

        >span {
          color: #898989;
          font-weight: 400;

          >.select2-selection__placeholder {
            color: #898989;
            font-weight: 400;
          }
        }

        >.select2-selection__rendered {
          >span {
            &.select2-selection__placeholder {
              margin: 0;
              color: #898989;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.instruction-box {
  margin-top: 28px;

  .instruction-title {
    h4 {
      font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 600;
      line-height: 1.4;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 9px;
    }

    p {
      color: #777;
      line-height: 1.7;

      body.dark-only & {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .list-box {
    margin-top: 20px;

    h5 {
      margin-bottom: 9px;
      font-size: 17px;
      color: variables.$title-color;

      body.dark-only & {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      display: grid;
      gap: 5px;

      [dir='rtl'] & {
        padding-left: unset;
        padding-right: 20px;
      }

      li {
        color: variables.$content-color;
        font-weight: 300;

        body.dark-only & {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}