@use "sass:math";
@use "sass:color";
// @use "./vendor/bootstrap.scss";

@use 'ngx-toastr/toastr.css';
@use "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";

@use "./vendor/remixicon/remixicon.scss";

@use "node_modules/bootstrap/dist/css/bootstrap.min.css";
@use "style.scss";


// @import ".//bootstrap/dist/css/bootstrap.min.css";