@use './../utils/variables';
@use './../utils/mixins';

/**=====================
    Dashboard CSS start
==========================**/
.dashboard-tiles {
  .card-tiles {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    padding: calc(13px + (22 - 13) * ((100vw - 320px) / (1920 - 320))) 13px;
    border-radius: 10px;
    position: relative;

    &:after {
      @include mixins.pos;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 3px;
      height: 35px;
      background-color: var(--theme-color);
      border-radius: 5px;

      [dir='rtl'] & {
        left: unset;
        right: 0;
      }
    }

    h6 {
      color: rgba(variables.$content-color, 0.8);
    }

    h3 {
      color: variables.$title-color;
      margin-top: 8px;
      font-weight: 700;
      font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    }

    .icon-box {
      width: 52px;
      height: 52px;
      border-radius: 6px;
      @include mixins.flex_common;

      i {
        color: variables.$white;
        font-size: 22px;
      }
    }
  }

  .row {
    > div {
      &:first-child {
        .card-tiles {
          background: rgba(#0da487, 0.1);

          &:after {
            background-color: #0da487;
          }

          .icon-box {
            background: #0da487;
          }
        }
      }

      &:nth-child(2) {
        .card-tiles {
          background: rgba(#ffa53b, 0.1);

          &:after {
            background-color: #ffa53b;
          }

          .icon-box {
            background: #ffa53b;
          }
        }
      }

      &:nth-child(3) {
        .card-tiles {
          background: rgba(#a04aff, 0.1);

          &:after {
            background-color: #a04aff;
          }

          .icon-box {
            background: #a04aff;
          }
        }
      }

      &:nth-child(4) {
        .card-tiles {
          background: rgba(#ff6161, 0.1);

          &:after {
            background-color: #ff6161;
          }

          .icon-box {
            background: #ff6161;
          }
        }
      }
    }
  }
}

.review-box {
  border: 1px solid #eee;

  table {
    width: 100%;

    tr {
      + tr {
        border-top: 1px dashed #eee;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 15px;
    }

    .rating-sec {
      span {
        font-size: 16px;
      }
    }

    + li {
      margin-top: 7px;
      padding-top: 7px;
      border-top: 1px dashed #eee;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .review-content {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      width: calc(100% - 5px - 40px);
    }
  }

  td {
    padding: 8px;
  }

  tr {
    td {
      &:nth-child(2) {
        width: auto;
        min-width: 190px;
        text-align: center;
      }

      &:nth-child(1) {
        width: auto;
        min-width: 250px;
      }
    }
  }

  .img-box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    @include mixins.flex_common;
    background: #e9eaea;
    padding: 2px;

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  .rating-sec {
    font-size: 17px;
    gap: 0px;
  }
}

.apexcharts-toolbar {
  z-index: 1 !important;
}

.top-selling-table {
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 0;

  table {
    width: 100%;

    tr {
      + tr {
        td {
          border-top: 1px solid #eee;
        }
      }
    }
  }

  td {
    padding: 10px;
  }

  .img-info {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 192px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }

  h6 {
    color: rgba(variables.$theme-body-font-color, 0.7);
  }

  h5 {
    color: variables.$theme-body-font-color;
    margin-top: 5px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }
}

.blog-box {
  .blog-img {
    img {
      height: 180px;
      margin-bottom: 10px;
      object-fit: cover;
      width: 100%;
    }
  }

  .blog-content {
    a {
      color: variables.$title-color;
      font-size: 16px;
      margin-bottom: 4px;
      display: block;
      font-weight: 500;
      letter-spacing: 0.01em;
    }

    h6 {
      color: rgba(variables.$content-color, 0.7);
    }
  }
}

.widget-card,
.booking-widget-card {
  padding: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)))
    calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0;
  gap: 10px;
  margin-bottom: 0;
  border-radius: calc(9px + (15 - 9) * ((100vw - 320px) / (1920 - 320)));

  @media only screen and (max-width: 575.98px) {
    margin-bottom: 0 !important;
  }

  h6 {
    margin-bottom: 7px;
    font-weight: 500;
    color: variables.$grey-9;
  }

  h2 {
    font-size: calc(21px + (25 - 21) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    color: variables.$theme-font-color;
    display: flex;
    align-items: flex-end;

    body.dark-only & {
      color: #ddd;
    }

    span {
      font-size: 13px;
      font-weight: 400;
      margin-left: 6px;
      display: block;
      line-height: 1.45;

      [dir='rtl'] & {
        margin-left: unset;
        margin-right: 6px;
      }
    }
  }

  h5 {
    margin-bottom: 0;
  }

  i {
    --Iconsax-Size: 26px;
    --Iconsax-Color: White;
  }

  .widget-icon,
  .booking-widget-icon {
    @include mixins.flex_common;
    padding: 10px;
    border-radius: 0;
    width: calc(44px + (52 - 44) * ((100vw - 320px) / (1920 - 320)));
    height: calc(44px + (52 - 44) * ((100vw - 320px) / (1920 - 320)));

    svg {
      width: 100%;
      height: 100%;
      stroke: variables.$white;
      fill: transparent;
    }
  }
}

.widget-card-box {
  &:nth-child(1) {
    .widget-card {
      background-color: rgba(134, 144, 156, 0.1);

      .widget-icon {
        background-color: #86909c;
      }
    }
  }

  &:nth-child(2) {
    .widget-card {
      background-color: rgba(86, 133, 55, 0.1);

      .widget-icon {
        background-color: #568537;
      }
    }
  }

  &:nth-child(3) {
    .widget-card {
      background-color: rgba(179, 97, 138, 0.1);

      .widget-icon {
        background-color: #b3618a;
      }
    }
  }

  &:nth-child(4) {
    .widget-card {
      background-color: rgba(73, 86, 121, 0.1);

      .widget-icon {
        background-color: #495679;
      }
    }
  }

  &:nth-child(5) {
    .widget-card {
      background-color: rgba(236, 137, 81, 0.1);

      .widget-icon {
        background-color: #ec8951;
      }
    }
  }
}

.booking-widget-card {
  &:hover {
    .abs-icon {
      transform: none;
      transition: all 0.5s ease;
    }
  }

  .abs-icon {
    position: absolute;
    right: 0;
    width: 114px;
    opacity: 0.4;
    transform: none;
    filter: grayscale(1);
    transition: all 0.5s ease;
    bottom: 0;

    [dir='rtl'] & {
      right: unset;
      left: 0;
    }
  }

  .booking-widget-icon {
    width: calc(36px + (70 - 36) * ((100vw - 320px) / (1920 - 320)));
    height: calc(36px + (70 - 36) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 0;
    padding: calc(0px + (10 - 0) * ((100vw - 320px) / (1920 - 320)));

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.booking-status-main {
  .booking-status-card {
    .booking-widget-card {
      border-radius: 8px;
      background-color: #f8f8f8;
      margin-bottom: 0;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      padding: 12px 16px;
      justify-content: flex-start;
      gap: 10px;

      body.dark-only & {
        border-color: variables.$dark-card-border;
        background-color: #0b141d !important;
      }

      &::before {
        @include mixins.pos;
        bottom: 0;
        left: 0;
        width: 2px;
        height: 100%;

        html[dir='rtl'] & {
          left: unset;
          right: 0;
        }
      }
    }
  }
}

.welcome-tiles {
  img {
    height: calc(135px + (162 - 135) * ((100vw - 320px) / (1920 - 320)));
  }

  .card {
    padding: 0;

    .card-body {
      padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));

      p {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;

        body.dark-only & {
          color: variables.$grey-9;
        }
      }

      h2 {
        font-size: calc(19px + (22 - 19) * ((100vw - 320px) / (1920 - 320)));
        margin-bottom: calc(10px + (14 - 10) * ((100vw - 320px) / (1920 - 320)));

        body.dark-only & {
          color: #fff;
        }
      }
    }
  }
}
