@use "sass:math";
@use "sass:list";
@use "sass:color";
@use './../utils/variables';

/**=====================
   theme layout CSS Start
==========================**/

.page-wrapper.compact-wrapper,
.page-wrapper.horizontal-wrapper {
  .page-body-wrapper {
    .sidebar-wrapper {
      &[sidebar-layout='border-sidebar'] {
        .sidebar-main {
          .sidebar-links {
            .simplebar-wrapper {
              .simplebar-mask {
                .simplebar-content-wrapper {
                  .simplebar-content {
                    >li {
                      .sidebar-link {
                        border-bottom: 1px solid rgba(variables.$primary-color, 0.1);
                        transition: all 0.3s ease;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &[sidebar-layout='iconcolor-sidebar'] {
        .sidebar-main {
          .sidebar-links {
            .simplebar-wrapper {
              .simplebar-mask {
                .simplebar-content-wrapper {
                  .simplebar-content {
                    >li {
                      $colors: variables.$success-color, variables.$secondary-color, variables.$primary-color, variables.$danger-color,
                        variables.$info-color, variables.$warning-color, variables.$light-color;
                      $repeat: 60;

                      @for $i from 1 through $repeat {
                        &:nth-child(#{list.length($colors)}n + #{$i}) {
                          svg {
                            color: color.adjust(list.nth($colors, math.random(list.length($colors))), $lightness: 15%) !important;
                          }

                          &:hover {
                            a {
                              svg {
                                stroke: color.adjust(list.nth($colors, math.random(list.length($colors))), $lightness: 15%) !important;
                              }

                              &:hover {
                                background-color: rgba(list.nth($colors, math.random(list.length($colors))), 0.15) !important;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}