@use './../utils/variables';

/**=====================
   Update CSS Start
==========================**/

.jsgrid-filter-row {
  select,
  input {
    padding: 6px 10px;
    border: 1px solid variables.$horizontal-border-color;
    background: variables.$white; 
  }
}

.popover {
  background-color: variables.$white;
  border: none;
  box-shadow: 0 0 20px rgba(variables.$primary-color, 0.1);

  .popover-header {
    background-color: variables.$theme-medium-color;
    color: variables.$primary-color;
    border-bottom: none;
  }

  .popover-body {
    color: rgba(43, 43, 43, 0.7);
  }
}

.tooltip {
  &.bs-tooltip-top {
    .tooltip-arrow {
      &:before {
        border-top-color: variables.$theme-medium-color;
      }
    }
  }

  &.bs-tooltip-bottom {
    .tooltip-arrow {
      &:before {
        border-top-color: transparent;
        border-left-color: transparent !important;
      }
    }
  }

  &.bs-tooltip-start {
    .tooltip-arrow {
      &:before {
        border-left-color: variables.$theme-medium-color;
        border-top-color: transparent;
      }
    }
  }

  &.bs-tooltip-end {
    .tooltip-arrow {
      &:before {
        border-right-color: variables.$theme-medium-color;
        border-top-color: transparent;
      }
    }
  }

  .tooltip-inner {
    background-color: variables.$theme-medium-color;
    color: variables.$primary-color;
  }

  .tooltip-arrow {
    &:before {
      border-top-color: variables.$theme-medium-color;
    }
  }
}

.dropdown-basic {
  .dropdown {
    .dropdown-content {
      a {
        padding: 6px 16px;
        color: variables.$dark-editor-document;
        opacity: 0.6;
        font-size: 13px;
        border-top: 1px solid variables.$light-semi-gray;
        background: variables.$white;

        &:hover {
          background-color: variables.$white;
        }
      }

      .dropdown-header {
        padding: 8px 16px;
        font-weight: 400;
        color: variables.$dark-color;
        font-size: 13px;
      }
    }
  }

  .dropup {
    .dropup-content {
      top: auto;
    }
  }
}

.nav-tabs {
  border-bottom-color: variables.$light-semi-gray;

  .nav-bottom {
    .nav-item {
      .nav-link {
        &.active {
          border-color: variables.$light-semi-gray;
        }
      }
    }
  }
}

.nav-tabs {
  .nav-item {
    &.show {
      .nav-link {
        font-weight: 500;
      }
    }
  }

  .nav-link {
    color: variables.$dark-color;

    &.active {
      font-weight: 500;
    }
  }

  &.nav-bottom {
    .nav-item {
      .nav-link {
        &.active {
          border-color: variables.$light-gray variables.$light-gray #fff;
        }
      }
    }
  }
}

.dropdown-menu {
  box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
  border: none;
  padding: 0;

  .dropdown-item {
    color: #2b2b2b;
    opacity: 0.6;
    font-size: 13px;
    padding: 6px 12px;
    border-top: 1px solid variables.$light-semi-gray;
    background: variables.$white;

    &:hover {
      background-color: variables.$white;
    }
  }

  .dropdown-divider {
    margin: 0;
    border-top: 1px solid #cccccc;
  }
}

.border-tab {
  .nav-tabs {
    .nav-item {
      .nav-link {
        &.active,
        &.show,
        &:focus {
          border-bottom: 2px solid variables.$primary-color;
        }
      }
    }
  }
}

.tabbed-card {
  .nav-tabs {
    .nav-item {
      .nav-link {
        top: 17px;
      }
    }
  }
}

.timeliny {
  .timeliny-dot {
    &::before {
      font-size: variables.$btn-lg-font-size;
    }
  }
}

.form-builder-header-1,
.form-builder-2-header {
  background-color: #f7f6ff;

  .nav-primary {
    .nav-link {
      color: variables.$dark-color;
      font-weight: 400;

      &.active {
        color: variables.$white;
      }
    }
  }

  h6 {
    margin-bottom: 0;
    font-weight: 400;
    line-height: 36px;
  }
}

.component {
  .input-group {
    .btn {
      line-height: 32px;
      text-transform: capitalize;
    }
  }
}

.form-builder {
  .drag-box {
    fieldset {
      margin-top: 0;
    }
  }
}

.login-card {
  .login-main {
    .theme-form {
      label {
        font-size: variables.$body-font-size;
      }

      .show-hide {
        top: 50%;
      }
    }
  }
}

.faq-accordion {
  .card {
    .btn-link {
      svg {
        margin-left: 20px;
      }
    }
  }
}

.job-filter {
  .faq-form {
    .form-control {
      font-size: 14px;
    }

    .search-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.language-dropdown {
  padding-block: 8px;

  &.open {
    display: block;
  }

  li {
    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 9px;
      font-size: 14px;
      opacity: 1;
      border: none;
      padding: 6px 16px;
    }
  }
}
